* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .clt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .clt-container > input {
    width: 350px;
    margin-right: 20px;
    padding: 12px 28px;
    outline-width: 0;
    border: 2px solid hsl(238, 22%, 44%);
    font-weight: 400;
  }
  .clt-container > button {
    width: 180px;
    padding: 12px 28px;
    border: none;
    background-color: hsl(224, 93%, 58%);
    outline-width: 0;
    color: white;
    font-weight: 500;
    cursor: pointer;
  }
  .features-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(240, 75%, 98%);
    height: 90vh;
  }
  .features-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .features-text-container > h1 {
    font-size: 40px;
    font-weight: 800;
    color: hsl(243, 87%, 12%);
    margin-bottom: 20px;
  }
  .features-text-container > p {
    font-weight: 500;
    letter-spacing: 2px;
    color: hsl(238, 22%, 44%);
    margin-bottom: 20px;
  }
  .features-text-container > button {
    outline-width: 0;
    border: none;
    background: none;
    color: hsl(170, 45%, 43%);
    border-bottom: 2px solid hsl(170, 45%, 43%);
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .features-img-container > img {
    width: 550px;
  }
  .personal-info-container > img {
    width: 40px;
    border-radius: 24px;
    margin-right: 10px;
  }
  .testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: 5px 5px 8px #888888;
  }
  .testimonial-container > p {
    margin-bottom: 15px;
    color: hsl(243, 87%, 12%);
  }
  .personal-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .personal-info .name {
    font-weight: 800;
    color: hsl(243, 87%, 12%);
  }
  .personal-info .work {
    color: hsl(243, 87%, 12%);
  }
 

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
       :root {
      --primary-color: rgb(11, 78, 179);
    }
  
   
    /* Global Stylings */
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
    
    input {
      display: block;
      width: 100%;
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
    }

    select{
      display: block;
      width: 100%;
      padding: 0.75rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
     
    }
    
    .width-50 {
      width: 50%;
    }
    
    .ml-auto {
      margin-left: auto;
    }
    
    .text-center {
      text-align: center;
    }
    
    /* Progressbar */
    .progressbar {
      position: relative;
      display: flex;
      justify-content: space-between;
      counter-reset: step;
      margin: 2rem 0 4rem;
    }
    
    .progressbar::before,
    .progress {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 4px;
      width: 100%;
      background-color: #dcdcdc;
      z-index: -1;
    }
    
    .progress {
      background-color: var(--primary-color);
      width: 0%;
      transition: 0.3s;
    }
    
    .progress-step {
      width: 2.1875rem;
      height: 2.1875rem;
      background-color: #dcdcdc;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .progress-step::before {
      counter-increment: step;
      content: counter(step);
    }
    
    .progress-step::after {
      content: attr(data-title);
      position: absolute;
      top: calc(100% + 0.5rem);
      font-size: 0.85rem;
      color: #666;
    }
    
    .progress-step-active {
      background-color: var(--primary-color);
      color: #f3f3f3;
    }
    
    /* Form */
    .form1 {
      width: clamp(320px, 30%, 430px);
      margin: 0 auto;
      border: 1px solid #ccc;
      border-radius: 0.35rem;
      padding: 1.5rem;
      width:30%;
      margin-left: 10rem;
      position: relative;
      top:5rem;
    }
    
    .form-step {
      display: none;
      transform-origin: top;
      animation: animate 0.5s;
    }
    
    .form-step-active {
      display: block;
    }
    
    .input-group {
      margin: 2rem 0;
    }
    
    @keyframes animate {
      from {
        transform: scale(1, 0);
        opacity: 0;
      }
      to {
        transform: scale(1, 1);
        opacity: 1;
      }
    }
    
    /* Button */
    .btns-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
    
    .btn {
      padding: 0.75rem;
      display: block;
      text-decoration: none;
      background-color: var(--primary-color);
      color: #f3f3f3;
      text-align: center;
      border-radius: 0.25rem;
      cursor: pointer;
      transition: 0.3s;
    }
    .btn:hover {
      box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
    }
    .img{
  
      background-repeat: no-repeat;
      background-size: contain; 
      background-position:right;
      width:50%;
      height: 30%;
      margin-left: 55rem;
      margin-top: -40rem;
    }
